.main-block {
    background-color: whitesmoke;
    width: 1000px;
    height: 1000px;
}

.main {
    display: flex;
    width: 100%;
    height: 80%;
}

.main-right {
    width: 80%;
    background-color: red;
    border: solid 2em black;
    border-top: 0;
    border-right: 0;
}

.main-left {
    display: flex;
    flex-direction: column;
    width: 20%;
    
}

.left1 {
    width: 100%;
    height: 50%;
    border-bottom: solid 2em black;
}

.left2 {
    width: 100%;
    height: 50%;
    border-bottom: solid 2em black;

}

.main-bottom {
    display: flex;
    width: 100%;
    height: 20%;
}

.main-bottom1 {
    background-color: blue;
    width: 20%;
    border-right: solid 2em black;

}

.main-bottom2 {
    width: 70%;
}

.main-bottom3 {
    display: flex;
    flex-direction: column;
    width: 10%;
}

.bottom1 {
    width: 70%;
    height: 50%;
    border-left: solid 2em black;

}

.bottom2 {
    width: 70%;
    height: 50%;
    background-color: yellow;
    border-top: solid 2em black;
    border-left: solid 2em black;

}

